<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="about-div">
                <img class="about-img" src="img/about/PRIMES_project.jpg" alt="">

                <p class="large text-muted about-para">
                    Sheryl Hsu is a student at Stanford University passionate about computer science, mathematics, and entrepreneurship. Her past experiences include a software engineering internship at Two Sigma, inventing an app with over 6,000 users, and publishing multiple papers and talks as part of her research at Stanford and MIT PRIMES.
                <p/>

            </div>
            <div class="buttons-div">
                <a href="img/Sheryl H Resume.pdf" target="_blank" class="about-buttons page-scroll btn btn-xl">&nbspResume&nbsp</a>
                <a href="https://www.linkedin.com/in/sheryl-hsu-83b84a183/" target="_blank" class="about-buttons page-scroll btn btn-xl">LinkedIn</a>
            </div>
        </div>

    </section>