<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="about-div">
                <img class="about-img" src="img/about/PRIMES_project.jpg" alt="">

                <p class="large text-muted about-para">
                Sheryl Hsu is a highly driven young professional with a strong passion for computer science, electrical engineering, and mathematics. She enjoys taking on challenges and excels at jumping into projects and quickly learning on the fly. She has developed strong programming, design, and leadership skills through conducting novel research developing a Physarum-inspired Steiner Tree algorithm at the prestigious MIT PRIMES program, leading her underwater robotics team to 3rd place at the 2021 World Championships, and an internship developing the next generation Quest Institute International Space Station education platform. She has been recognized as a Regeneron STS Scholar (top 300 young scientists and engineer), Coca-Cola Scholar Regional Finalist, and won many awards in mathematics, computer science, and entrepreneurship.
                <p/>

            </div>
            <div class="buttons-div">
                <a href="img/Sheryl H Resume.pdf" target="_blank" class="about-buttons page-scroll btn btn-xl">&nbspResume&nbsp</a>
                <a href="https://www.linkedin.com/in/sheryl-hsu-83b84a183/" target="_blank" class="about-buttons page-scroll btn btn-xl">LinkedIn</a>
            </div>

    </section>