<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="about-div">
                <img class="about-img" src="img/about/PRIMES_project.jpg" alt="">

                <p class="large text-muted about-para">
                    Sheryl Hsu is a freshman at Stanford University with a strong passion for computer science and mathematics. She enjoys taking on challenges and excels at jumping into projects and quickly learning on the fly. She has developed strong programming, design, and leadership skills through publishing two papers detailing a biologically-inspired Steiner tree algorithm, building and launching her own app elicker, and conducting research as part of the Stanford Empirical Security Research Group. She has been recognized as a Regeneron STS Scholar (top 300 young scientists and engineer), USACO gold competitor, 3x AIME qualifier, and Coca Cola Scholars Regional Finalist in addition to receiving many other awards in mathematics, computer science, and entrepreneurship.
                <p/>

            </div>
            <div class="buttons-div">
                <a href="img/Sheryl H Resume.pdf" target="_blank" class="about-buttons page-scroll btn btn-xl">&nbspResume&nbsp</a>
                <a href="https://www.linkedin.com/in/sheryl-hsu-83b84a183/" target="_blank" class="about-buttons page-scroll btn btn-xl">LinkedIn</a>
            </div>
        </div>

    </section>