<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" type="image/png" href="img/favicon/favicon 152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png" sizes="180x180">
    <link rel="apple-touch-icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" type="image/png" href="img/favicon/android-chrome-512x512.png" sizes="512x512">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon.ico">

    <link rel="icon" type="image/png" href="img/favicon/favicon 152x152.png" sizes="152x152">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-512x512.png" sizes="512x512">


    <link rel="mask-icon" type="image/png" href="img/favicon/favicon 152x152.png" sizes="152x152">
    <link rel="mask-icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="mask-icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="mask-icon" type="image/png" href="img/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
